#!/data/data/com.tool.tree/files/home/bin/bash

# Dọn dẹp tmp
rm -fr $TMPDIR/* $HOME/cache/* $START_DIR/cache/* $TEMP/documents $TEMP/WebView &

(
# Cấp quyền tự động nếu đã root
if [ "$ROT" == 1 ];then
    # Thêm không giới hạn tiết kiệm pin
    dumpsys deviceidle whitelist +$PACKAGE_NAME

    # Cấp quyền ở miui, hyper
    # Danh sách các ứng dụng đã cài đặt
    cmd appops set $PACKAGE_NAME 10022 allow
    cmd appops set $PACKAGE_NAME QUERY_ALL_PACKAGES allow
    # Phím tắt màn hình chính
    cmd appops set $PACKAGE_NAME 10017 allow
fi
) &>>$TEMP/Install.log &

# Khởi động các file shell ở add-on
for vadd in $AON/*/early_start.sh $AOK/*/early_start.sh; do
    if [ -f "$vadd" ];then
    (
    echo "run shell: $vadd" &>>$TEMP/Install.log
    $vadd &>>$TEMP/Install.log
    ) &
    fi
done
