<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    >

    <!-- Permission để giữ CPU awake -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        
        android:label="@string/app_name"
        
        android:supportsRtl="true"
        android:theme="@style/Theme.WakeLockApp">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
